# This Is Jeopardy! Project

In [63]:
# Loading the data
import pandas as pd
pd.set_option('display.max_colwidth', -1)
jeopardy_data = pd.read_csv("jeopardy.csv")

jeopardy_data.head()

<ipython-input-63-17fd50f904dc>:3: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams

### Task 1:
#### Renaming misformatted columns

In [64]:
print(list(jeopardy_data.columns))


new_columns = list(jeopardy_data.columns.str.strip())
current_columns = list(jeopardy_data.columns)

# create a zipped list so i can iterate thrgho every column and change its name
zipped_columns = list(zip(current_columns, new_columns))
for column in zipped_columns:
     jeopardy_data.rename(columns={column[0]:column[1]}, inplace=True)

list(jeopardy_data.columns)

['Show Number', ' Air Date', ' Round', ' Category', ' Value', ' Question', ' Answer']

['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question', 'Answer']

### Task 2:
#### Create a function that filter a dataset by a list of words

In [80]:
def filter_data(data, column, words):
    # Adding every word in the list a space at the begining and end, so words like "kingdom" will not apear in the result.
    for word in words:
        words[word.index(word)] = " " + word + " "
    # Lowercases all words in the list of words as well as the questions. Returns true is all of the words in the list appear in the question.
    filter = lambda x: all(word.lower() in x.lower() for word in words)
  # Applies the labmda function to the Question column and returns the rows where the function returned True
    return data.loc[data[column].apply(filter)]

words = ["King", "England"]
# Testing the function
filtered_df = filter_data(jeopardy_data, "Question", words)
filter_df

,Show Number,Air Date,Round,Category,Value,Question,Answer
4953,3003,1997-09-24,Double Jeopardy!,"""PH""UN WORDS",$200,"Both England's King George V & FDR put their stamp of approval on this ""King of Hobbies""",Philately (stamp collecting)
6337,3517,1999-12-14,Double Jeopardy!,Y1K,$800,"In retaliation for Viking raids, this ""Unready"" king of England attacks Norse areas of the Isle of Man",Ethelred
9191,3907,2001-09-04,Double Jeopardy!,WON THE BATTLE,$800,This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt,Henry V
11710,2903,1997-03-26,Double Jeopardy!,BRITISH MONARCHS,$600,"This Scotsman, the first Stuart king of England, was called ""The Wisest Fool in Christendom""",James I
13454,4726,2005-03-07,Jeopardy!,A NUMBER FROM 1 TO 10,$1000,It's the number that followed the last king of England named William,4
...,...,...,...,...,...,...,...
208295,4621,2004-10-11,Jeopardy!,THE VIKINGS,$600,In 1066 this great-great grandson of Rollo made what some call the last Viking invasion of England,William the Conqueror
208742,4863,2005-11-02,Double Jeopardy!,BEFORE & AFTER,"$3,000",Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish,William of Orange roughy
213870,5856,2010-02-15,Double Jeopardy!,URANUS,$1600,In 1781 William Herschel discovered Uranus & initially named it after this king of England,George III
216021,1881,1992-11-09,Double Jeopardy!,HISTORIC NAMES,$1000,"His nickname was ""Bertie"", but he used this name & number when he became king of England in 1901",Edward VII
216789,5070,2006-09-29,Double Jeopardy!,ANCIENT HISTORY,$1200,"This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric",Wessex

### Task 3:
#### create a column with a float "Value", and find the mean value of a filtered dataset

In [71]:
# Adding a new column. If the value of the float column is not "None", then we cut off the first character (which is a dollar sign), and replace all commas with nothing, and then cast that value to a float. If the answer was "None", then we just enter a 0.
jeopardy_data["Float Value"] = jeopardy_data["Value"].apply(lambda x: float(x[1:].replace(',','')) if x != "None" else 0)

In [81]:
# Filtering the dataset and finding the average value of those questions
king_filterd_data = filter_data(jeopardy_data, "Question", ["King"])
king_question_mean = king_filterd_data["Float Value"].mean()
# printing the answer
print(king_question_mean)

806.9708846584547

### Task 4:
#### A function to find the unique answers of a set of data

In [84]:
def get_answer_counts(data):
    return data["Answer"].value_counts()

#Test the function
get_answer_counts(king_filterd_data)

Henry VIII               31
Richard III              20
Sweden                   18
Norway                   18
Solomon                  17
                         ..
Sisyphus                 1
Marie Antoinette         1
The First Noël Coward    1
King George V            1
The Battle of Crecy      1
Name: Answer, Length: 1040, dtype: int64

## Investigate the data more

### Question 1:
#### How many questions from the 90s use the word "Computer" compared to questions from the 2000s?

In [123]:
# adding "Year" column
jeopardy_data["Year"] = jeopardy_data["Air Date"].apply(lambda x: int(x[:4]))

# filter the data to decade
filter_90s = jeopardy_data.loc[(jeopardy_data["Year"]>= 1990) & (jeopardy_data["Year"] < 2000)]
filter_00s = jeopardy_data[jeopardy_data["Year"] >= 2000]

# filter the data above with question that contains the word computer using the function "filter_data"
filter_90s_computer = len(filter_data(filter_90s, "Question", ["Computer"]))
filter_00s_computer = len(filter_data(filter_00s, "Question", ["Computer"]))

print("During the 90's the word \"computer\" appear {} times in questions. During the 00's the word \"computer\" appear {} times in questions.".format(filter_90s_computer, filter_00s_computer))
print("")
print("We can tell from that camputer were less popular in the 90's, and probably pepole didnt knew much about them.")

During the 90's the word "computer" appear 57 times in questions. During the 00's the word "computer" appear 210 times in questions.

We can tell from that camputer were less popular in the 90's, and probably pepole didnt knew much about them.

## Jeopardy Game
### Build a system to quiz yourself

In [127]:
# import the necesarry library 
import random

In [172]:
# Creating a function that take 20 random questions thier answers and values, 
# then create a round for every question if the user type the answer right he gets the value of the question, in the end it print the result
def play_jeoprady(data):
    question = list(data["Question"])
    answers = list(data["Answer"])
    values = list(data["Float Value"])
    zipped_lists = list(zip(question, answers, values))
    answers_right = 0
    prize = 0
    roundd = 0
    for i in range(20):
        this_round = random.choice(zipped_lists)
        question = this_round[0]
        answer = this_round[1]
        values = this_round[2]
        answers = sorted([answer, random.choice(zipped_lists)[1], random.choice(zipped_lists)[1], random.choice(zipped_lists)[1]] )      
        roundd += 1 
        print("-----------------------round {}------------------------".format(roundd))
        print(question)
        print("-----------------------options---------------")
        print(answers[0])
        print(answers[1])
        print(answers[2])
        print(answers[3])
        print("")
        user_answer = input("Copy/type the right answer")
        if user_answer.lower() == answer.lower():
            prize += values
            answers_right += 1
            print("--------------------------")
            print("You are right! you win ${}".format(values))
            print("")
        else:
            print("----------------------------------------------------")
            print("Wrong answer:( the answer was " + answer + ". better luck next round")
            print("")
    print("-------------------------------------------------------------")
    print("You finished!, you won ${}, and you answer right {} question.".format(prize, answers_right))

In [ ]:
play_jeoprady(jeopardy_data)

-----------------------round 1------------------------
In 1 Kings 19 God tells him "Anoint Hazael", but he doesn't tell him to visit homes during the Seder
-----------------------options---------------
Bulgaria
Elijah
Hussein (I)
a comet

Copy/type the right answerElijah
--------------------------
You are right! you win $4700.0

-----------------------round 2------------------------
Devil-dealing doctor-turned-necromancer
-----------------------options---------------
"Dr. Faustus"
Cosmos
Gainesville
frosting